version: '3.4'

services:
  catalogDb:
    image: postgres
  
  basketDb:
    image: postgres
  
  identityDb:
    image: postgres
    
  rabbitmq:
    image: rabbitmq:3-management-alpine
  
  distributedCache:
    image: redis:alpine
  
  order.command.db:
    image: mcr.microsoft.com/mssql/server
    platform: linux/amd64
    
  order.query.db:
    image: postgres
  
  catalog.api:
    image: ${DOCKER_REGISTRY-}catalog.api
    build:
      context: .
      dockerfile: Services/Catalog/Catalog.API/Dockerfile
  
  basket.api:
    image: ${DOCKER_REGISTRY-}basket.api
    build:
      context: .
      dockerfile: Services/Basket/Basket.API/Dockerfile
  
  discount.grpc:
    image: ${DOCKER_REGISTRY-}discount.grpc
    build:
      context: .
      dockerfile: Services/Discount/Discount.Grpc/Dockerfile
  
  order.command.api:
    image: order.command.api
    build:
      context: .
      dockerfile: Services/Order.Command/Order.Command.API/Dockerfile

  identity.api:
    image: ${DOCKER_REGISTRY-}identity.api
    build:
      context: .
      dockerfile: Services/Identity/Identity.API/Dockerfile
      
  order.query.eventprocessor:
    image: ${DOCKER_REGISTRY-}order.query.eventprocessor
    build:
      context: .
      dockerfile: Services/Order.Query/Order.Query.EventProcessor/Dockerfile
  
  order.query.api:
    image: ${DOCKER_REGISTRY-}order.query.api
    build:
      context: .
      dockerfile: Services/Order.Query/Order.Query.API/Dockerfile
  
  prometheus:
    image: prom/prometheus:v2.48.1
    
  loki:
    image: grafana/loki:2.9.3
  
  otel-collector:
    image: otel/opentelemetry-collector-contrib:0.91.0
  
  jaeger:
    image: jaegertracing/all-in-one:1.52

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.9.2

  kibana:
    image: docker.elastic.co/kibana/kibana:7.9.2
    
volumes:
  postgres_catalog_db:
  postgres_order_query_db:
  postgres_basket_db:
  identity_catalog_db:
  rabbitmq_data:
  elasticsearch-data:
